<!DOCTYPE html>

<html lang="en" class="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Articuwiki</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,300' rel='stylesheet' type='text/css'>
  <style>

  </style>
</head>

<body>

<div id="app">
  <h1 class="header"><a href="/">ArticuWIKI</a></h1>
  <div id="query" class="div-table">
    <div id="querybox" class="div-table-row">
      <div class="div-table-col col-12 align--center">
        <h1 class="header"><%= header1 %></h1>
        <h3 class="subheader"><%= subheader %></h3>
        <p><%= message %></p>
        <p><a href="/">Return to Home</a></p>

      </div>
    </div>
  </div>

</body>
</html>

